<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		.border-radius-1{
			border-radius: 30px 10px;
			-webkit-border-radius: 30px 10px;
		}

		.border-radius-2{	
			-webkit-border-radius: 30px 10px;
			border-radius: 30px 10px;
		}
		.box{
			margin-top: 20px;
			width: 200px;
			height: 60px;
			background-color: #87CEFA;
		}
	</style>
</head>
<body>
	<!-- csss书写顺序 -->
	<div class="box border-radius-1"></div>
	<div class="box border-radius-2"></div>
</body>
</html>