<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .bg{
            background-color: #3295f2;
            color: #FFF;
        }
        .float-l{
            float: left;
            width: 60px;
        }
        .mr10{
            margin-right: 10px;
        }
    </style>
</head>
<body>
<p class="bg">個人的晚餐！茶泡飯！飯、飯、飯… 今日不減肥，先把病治好再說！ 我認真吃完這，燒就會退了吧？！ 開動啦~~~</p>
<div class="bg">個人的晚餐！茶泡飯！飯、飯、飯… 今日不減肥，先把病治好再說！ 我認真吃完這，燒就會退了吧？！ 開動啦~~~</div>

<div>
    <div class="float-l mr10"><img src="../img/img_1.jpg" alt="" width="60px" height="60px" /></div>
    <p class="bg">個人的晚餐！茶泡飯！飯、飯、飯… 今日不減肥，先把病治好再說！ 我認真吃完這，燒就會退了吧？！ 開動啦~~~個人的晚餐！茶泡飯！飯、飯、飯… 今日不減肥，先把病治好再說！ 我認真吃完這，燒就會退了吧？！ 開動啦~~~</p>
</div>
<div>
    <div class="float-l mr10"><img src="../img/img_1.jpg" alt="" width="60px" height="60px" /></div>
    <div class="bg" style="margin-left: 70px">個人的晚餐！茶泡飯！飯、飯、飯… 今日不減肥，先把病治好再說！ 我認真吃完這，燒就會退了吧？！ 開動啦~~~個人的晚餐！茶泡飯！飯、飯、飯… 今日不減肥，先把病治好再說！ 我認真吃完這，燒就會退了吧？！ 開動啦~~~</div>
</div>
</body>
</html>