<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<script>
    window.onload = function() {
        var CreateDiv=function(html){
            this.html=html;
            this.init();
        }
        CreateDiv.prototype.init=function(){
            var div=document.createElement("div");
            div.innerHTML=this.html;
            document.body.appendChild(div);
        }

        //这个代理类为什么要用匿名函数自执行，就普通函数为什么却没用
        var ProxySingletonCreateDiv=function(){
            var instance;
            return function(html){
                if(!instance){
                    instance=new CreateDiv(html);
                }
                return instance;
            }
        };

        var a=new ProxySingletonCreateDiv("sven1");
        var b=new ProxySingletonCreateDiv("sven2");
        alert(a===b);
    }
</script>
</body>
</html>